{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qusasa | Confirm Password Reset</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="{% static 'qusasa/css/simple_form.css' %}">
    <link rel="stylesheet" href="{% static 'qusasa/css/nav.css' %}">
    <link rel="shortcut icon" href="{% static 'qusasa/images/Qusasa end.png' %}" type="image/png">

    <script src="https://kit.fontawesome.com/b50b47369c.js" crossorigin="anonymous"></script>
</head>
<body>
    <img class="polygon" src="{% static 'qusasa/images/Frame 2.png'%}" alt="Description of Image" class="full-size-absolute">
    
    {% include "nav.html" %}

    <div class="content">
        <h2>Password Reset</h2>

        <div class="signup-container">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="error-msgs">
                        {% if field.errors %}
                            <div class="error"><i class="fas fa-exclamation-circle"></i>
                                {{ field.errors|first }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <p>Enter your new password and confirm it.</p>
                
                <div class="input-field">
                    <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
                    <input type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" class="custom-input-class" value="{{ form.new_password1.value|default:'' }}">
                </div>

                <div class="input-field">
                    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
                    <input type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" class="custom-input-class" value="{{ form.new_password2.value|default:'' }}">
                </div>

                <div class="final-row">
                    <button type="submit"><span>Reset Password</span></button>
                </div>
            </form>
        </div>
    </div>

    <footer>
        Created in 2023, Qusasa team
    </footer>

    <!-- Linking JS at the bottom for better performance -->
    <script src="{% static 'qusasa/js/script.js' %}"></script>
</body>
</html>
