{% load static %}

<div class="hamburger">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
</div>

{% with current_url=request.resolver_match.url_name %}

<div class="side-nav">
    <div class="side-nav-container">
      <img src="{% static 'qusasa/images/Qusasa end.png' %}" alt="" />
      <a class="el" href="{% url 'base'%}" {% if current_url == 'base' %}id="el-current"{% endif %} ><i class="fa-solid fa-clock"></i> My History</a>
      <a class="el" href="{%url 'wFeature'%}" {% if current_url == 'wFeature' or current_url == 'InstagramFeat' or current_url == 'YouTubeFeat'%} id="el-current" {% endif %} ><i class="fa-solid fa-scissors"></i> Qusasa's Features</a>
      <a class="el" href="{% url 'user_inquiries'%}" {% if current_url == 'user_inquiries' %}id="el-current"{% endif %} ><i class="fa-solid fa-circle-question"></i> Inquiries</a>
    </div>
  </div>

  {% endwith %}


<script>
  document.querySelector('.hamburger').addEventListener('click', function(e) {
    let navs = document.querySelector('.side-nav');

    if (navs.style.visibility === 'hidden' || navs.style.visibility === '') {
        navs.style.visibility = 'visible';
        navs.style.opacity = '1';
        navs.style.transform = 'scale(1)';
    } else {
        hideSideNav(navs);
    }

    e.stopPropagation(); // Prevent the click from reaching the document
});

document.addEventListener('click', function(e) {
  // Check if the screen width is less than 1000px
  if (window.innerWidth < 1000) {
      let navs = document.querySelector('.side-nav');
      let navContainer = document.querySelector('.side-nav-container');

      // If the click target is not within the navContainer and not on the hamburger, hide the side-nav
      if (!navContainer.contains(e.target) && !document.querySelector('.hamburger').contains(e.target)) {
          hideSideNav(navs);
      }
  }
});


function hideSideNav(navs) {
    navs.style.opacity = '0';
    navs.style.transform = 'scale(0.5)';
    setTimeout(() => { navs.style.visibility = 'hidden'; }, 1000;
}


</script>