{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qusasa | Admin</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="{% static 'qusasa/css/admin.css' %}">
    <link rel="shortcut icon" href="{% static 'qusasa/images/Qusasa end.png' %}" type="image/png">

    <script src="https://kit.fontawesome.com/b50b47369c.js" crossorigin="anonymous"></script>
</head>

<body> 

    <a class="log-out" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i>  Log out</a>

    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>

    <div class="side-nav">
        <div class="side-nav-container">
            <img src="{% static 'qusasa/images/Qusasa end.png'%}" alt="">
            <a class="el" id="el-current" href="{% url 'admin:qusasa_customuser_changelist' %}"><i class="fa-solid fa-user"></i> Qusasa users</a>
            <a class="el" href="{% url 'inquiries' %}"><i class="fa-solid fa-circle-question"></i> Inquiries</a>  
        </div>    
    </div>

    <div class="content">
        <div class="welcome">
            Welecome,  admin {{ user.first_name }}
        </div>
        <br class="clear">
        {% block breadcrumbs %}{% endblock %}
        {% block content_title %}{% endblock %}
            <div class="module">
                <h2>{% block title %}{% endblock %}</h2>
                <div class="modulebody">
                    {% block module_contents %}{% endblock %}
                </div>
            </div>
        <div class="history">
            <div class="history232">
                {% block content %}                
                {% endblock %}

            </div>
        </div>
    </div>

    <!-- Linking JS at the bottom for better performance -->
    <script src="{% static 'qusasa/js/script.js' %}"></script>
</body>
</html>


<script>
  document.querySelector('.hamburger').addEventListener('click', function(e) {
    let navs = document.querySelector('.side-nav');

    if (navs.style.visibility === 'hidden' || navs.style.visibility === '') {
        navs.style.visibility = 'visible';
        navs.style.opacity = '1';
        navs.style.transform = 'scale(1)';
    } else {
        hideSideNav(navs);
    }

    e.stopPropagation(); // Prevent the click from reaching the document
});

document.addEventListener('click', function(e) {
  // Check if the screen width is less than 1000px
  if (window.innerWidth < 1000) {
      let navs = document.querySelector('.side-nav');
      let navContainer = document.querySelector('.side-nav-container');

      // If the click target is not within the navContainer and not on the hamburger, hide the side-nav
      if (!navContainer.contains(e.target) && !document.querySelector('.hamburger').contains(e.target)) {
          hideSideNav(navs);
      }
  }
});


function hideSideNav(navs) {
    navs.style.opacity = '0';
    navs.style.transform = 'scale(0.5)';
    setTimeout(() => { navs.style.visibility = 'hidden'; }, 1000);
}


</script>