{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qusasa | Instagram Features</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="{% static 'qusasa/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'qusasa/css/cards.css' %}" />
    <link rel="shortcut icon" href="{% static 'qusasa/images/Qusasa end.png' %}" type="image/png">

    <script src="https://kit.fontawesome.com/b50b47369c.js" crossorigin="anonymous"></script>

  </head>
  <body>
    
    <a class="log-out" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>

    {% include "side_nav.html" %}

    <div class="content">
        <div class="welcome">Instagram Features</div>
        <p>Guide your study and analysis needs Through the pile of posts and profiles.</p>
    
        <ul class="breadcrumbs">
            <li><a href="{% url 'base' %}" {% if request.resolver_match.url_name == 'base' %}  {% endif %}> Home</a></li>
            <li><a href="{% url 'wFeature' %}" {% if request.resolver_match.url_name == 'base' %}  {% endif %}>Qusasa's Features</a></li>
            <li id="current">Instagram Features</li>
        </ul>

      <div class="history">

        <div class="cards">
            <article class="card">
              <a href="{% url 'topictrend_analysis_details' %}">

                <header class="card__thumb">
                    <img src="{% static 'qusasa/images/trends analysis.webp' %}"/>
                    <div class="feature-name">
                        Topic Trends Analysis
                    </div>
                </header>
                
                <div class="card__body">
                    <div class="card__category Instagram">Instagram</div>
                    <h2 class="card__title">Topic Trends Analysis</h2>
                    <p class="card__description">you can search for a specific topic or trending hashtag and gather information about the activities related to that hashtag.
                      .</p>
                </div>
            </a>
            </article>

            <article class="card">
                <a href="{% url 'posts_analysis_details' %}">
                <header class="card__thumb">
                    <img src="{% static 'qusasa/images/posts analysis.webp' %}"/>
                    <div class="feature-name">
                      Post Analysis
                    </div>
                </header>
                
                <div class="card__body">
                    <div class="card__category Instagram">Instagram</div>
                    <h2 class="card__title">Post Analysis</h2>
                    <p class="card__description">you can obtain static information about a post on Instagram such as analysis of comments, likes, and other activities related to the post.
                      .
                        .</p>
                </div>
            </a>
            </article>

            <article class="card">
                <a href="{% url 'profile_analysis_details' %}">
                <header class="card__thumb">
                    <img src="{% static 'qusasa/images/engagment.webp' %}"/>
                    <div class="feature-name">
                      Profile Analysis
                    </div>
                </header>
                
                <div class="card__body">
                    <div class="card__category Instagram">Instagram</div>
                    <h2 class="card__title">Profile Analysis</h2>
                    <p class="card__description">you can track the progress and evolution of a specific profile.
                      </p>
                </div>
            </a>
            </article>
           
            <article class="card">
                <a href="{% url 'people_analytics_details' %}">
                <header class="card__thumb">
                    <img src="{% static 'qusasa/images/people analysis.webp' %}" />
                    <div class="feature-name">
                      People Analytics
                    </div>
                </header>
                
                <div class="card__body">
                    <div class="card__category Instagram">Instagram</div>
                    <h2 class="card__title">People Analysis</h2>
                    <p class="card__description">you can gather information about the audience for a specific post or hashtag.</p>
                </div>
            </a>
            </article>

            <article class="card">
                <a href="{% url 'comparative_study_details' %}">
                <header class="card__thumb">
                    <img src="{% static 'qusasa/images/comparative study.webp' %}"/>
                    <div class="feature-name">
                      Comparative Study
                    </div>
                </header>
                
                <div class="card__body">
                    <div class="card__category Instagram">Instagram</div>
                    <h2 class="card__title">Comparative Study</h2>
                    <p class="card__description"> you can compare activities between two hashtags or compare activities from different locations or different eras associated with the same hashtag.
                      </p>
                </div>
            </a>
            </article>

            <article class="card">
                <a href="{% url 'instagram_reporting_details' %}">
                    <header class="card__thumb">
                        <img src="{% static 'qusasa/images/reporting.webp' %}"/>
                        <div class="feature-name">
                            Instagram Reporting
                        </div>
                    </header>

                    
                    <div class="card__body">
                        <div class="card__category Instagram">Instagram</div>
                        <h2 class="card__title">Instagram Reporting</h2>
                        <p class="card__description">you can create a comprehensive report that combines all the available Instagram features to serve your specific needs.</p>
                    </div>
                </a>

            </article>
        </div>
            
 
      </div>
    </div>
    

    <!-- Linking JS at the bottom for better performance -->
    <script src="{% static 'qusasa/js/script.js' %}"></script>
  </body>
</html>
