{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Qusasa | Feature</title>
    <!-- Linking CSS -->
    <link rel="stylesheet" href="{% static 'qusasa/css/base.css' %}" />
    <script src="https://kit.fontawesome.com/b50b47369c.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'qusasa/images/Qusasa end.png' %}" type="image/png">

  </head>
  <body>
    <!-- <img class="polygon" src="{% static 'qusasa/images/Frame 2.png'%}" alt="Description of Image" class="full-size-absolute"> -->

    <!--  <div class="navigation">
        <img class="static-img" src="{% static 'qusasa/images/qusasa.png' %}" alt="">

        <div class="navs">
            <a href="{% url 'logout' %}">Log out</a>
        </div>
    </div>  -->
    <a class="log-out" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>

    {% include 'side_nav.html' %}

    <div class="content">
      <div class="welcome">Qusasa's Features</div>
      <p>time for you to dive into the experience of Qusasa...</p>

        <ul class="breadcrumbs">
            <li><a href="{% url 'base' %}" {% if request.resolver_match.url_name == 'base' %} id="current" {% endif %}> Home</a></li>
            <li><a href="{% url 'wFeature' %}" {% if request.resolver_match.url_name == 'wFeature' %} id="current" {% endif %}>Qusasa's Features</a></li>
        </ul>

      <div class="history">

        <div class="flex-container">
          <div class="flex-cell">
            <button style="margin-top: 1rem; padding: 50px;" class="flex-item"><i class="fa-brands fa-youtube fa-2xl"></i><a href="{% url 'YouTubeFeat' %}" {% if request.resolver_match.url_name == 'YouTubeFeat' %} id="current" {% endif %} style="padding: 15%;"><span> YouTube</span></a></button>
          </div>

          <div class="flex-cell">
            <button style="margin-top: 1rem; padding: 50px;" class="flex-item"><i class="fa-brands fa-instagram fa-2xl"></i> 
                <a 
                 href="{% url 'InstagramFeat' %}" {% if request.resolver_match.url_name == 'InstagramFeat' %} id="current" 
                {% endif %} style="padding: 15%;"> <span> Instagram</span></a></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Linking JS at the bottom for better performance -->
    <script src="{% static 'qusasa/js/script.js' %}"></script>
  </body>
</html>
