@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700;800;900&display=swap');



html {
    width: 100%;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(-45deg, #0B0B25, #250D44, #0A2240); */
    background: #f0f0f5;
    background-repeat: no-repeat; /* Prevent gradient from repeating */
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    color: white;
}

body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("static/images/Frame 2.png");
    background-repeat: no-repeat; /* Prevent gradient from repeating */
    background-attachment: fixed;
    display: flex;
    flex-direction: row; /* Change this */
    min-height: 100vh; 
    justify-content: stretch;
    align-items: start;
    align-content: start;
    justify-items: start;
}

a {
    text-decoration: none;
}

.side-nav {
    min-height: 100vh;
    height: 100vh;
    width: 20%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 3%;
    margin: 0;
}

.side-nav-container {
    margin: 0;
    height: 90%;
    width: 100%;
    background: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav .side-nav-container img {
    max-height: 100px;
    margin-top: 100px;
    margin-bottom: 50px;

}

.side-nav .side-nav-container .el {
    width: 80%;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 1.3rem 0;
    padding: 0.8rem 0;
    border-radius: 20px;
    cursor: pointer;
    transition: ease 0.2s;
    color: #333;

    
}

.el:hover {
    color:#a02de7;
    transition: ease 0.2s;

}

#el-current {
    background: linear-gradient(-45deg, #3b3b9a, #58308c, #ae3aaa); 
    color: white;
    transition: ease 0.2s;

}

#el-current:hover {
    background: linear-gradient(-45deg, #0B0B25, #250D44, #0A2240); 
    transition: ease 0.2s;

}

.log-out {
    color: #5300c0;
    cursor: pointer;
    transition: ease 0.2s;
    font-size: 1.1rem;
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: 25px;
}

.log-out:hover {
    color: #8528ff;
    transition: ease 0.2s;


}
.polygon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.content {
    min-height: 90%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    padding-top: 5vh;

}

.content .welcome {
    color:rgb(112, 64, 164);
    font-size: 2rem;
    font-weight: 800;
    padding: 3rem 0;
    width: 100%;
}

.content .history {
    background-color: white;
    border-radius: 20px;
    color: #0B0B25;
    width: 80%;
    padding: 2rem;
    font-weight: 700;
    font-size: 1.2rem;
}
.content .history .history232 {
    background-color: rgba(236, 142, 142, 0.563);
    border-radius: 20px;
    color: #0B0B25;
    width: max-content;
    padding: 4rem;
    font-weight: 400;

    line-height: 40px;
    font-size: 1rem;
}




.history button {
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: linear-gradient(#009ba6b6, #1C93B9);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 2rem;
    z-index: 1;

}

.history button i {
    margin-left: 10px;
}
.history button::before {
    content: "";
    position: absolute;
    border-radius: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;  /* Put the pseudo-element above the button content */
    background: linear-gradient(#36f2ffd8, #29abd6);  /* Default gradient */
    transition: 0.3s;
    opacity: 0;
}

.history button:hover::before {
    opacity: 1;
    margin-bottom: 3px;
}

.history button span {
        position: relative;  /* Make it appear above the pseudo-element */
        z-index: 2;
        color: white;

    
}

.history button:disabled {
    background: linear-gradient(#b3b3b3b6, #888888);
    cursor: auto;
}

.history button:disabled:hover::before  {
    opacity: 0;
    margin-bottom: 0;
}

.history button a {
    z-index: 2;
}

.breadcrumbs {
    list-style: none;
    padding: 0;
}

.breadcrumbs li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5px;
}

.breadcrumbs li::after {
    content: " > ";
    color: #999;
    margin-left: 5px;
}

.breadcrumbs li:last-child::after {
    content: "";
}

.breadcrumbs a {
    text-decoration: none;
    color: #333;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.flex-container {
    margin-left:10% ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
  }
  
  .flex-cell {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .flex-cell:before {
    content: '';
    display: table;
    padding-top: 100%;
  }

  .flex-item {
    flex-grow: 1;
    margin-right: 10%;
    margin-top: 13%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .breadcrumbs {
    color: #333;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
  }

  .breadcrumbs #current {
    color: #562793;
  }

  .content a:visited, .side-nav a:visited{
    color: inherit;
  }

  .content p {
    color: #333;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.content .welcome {
    padding-bottom: 1rem;
    
}


.hamburger {
    display: none; /* Initially, it will be hidden. */
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    background-color: #333;
    height: 4px;
    width: 25px;
    margin: 3px;
  
  }
  
  
  @media (max-width: 1000px) {
    .side-nav {
        visibility: hidden;
        top: -300px;
        right: 0;
        transition: top 0.3s ease;
        justify-content: center;
        align-items: center;
        transform-origin: top left;

    }
  
    .hamburger {
        display: flex; /* Show the hamburger icon. */
        position: absolute;
        top:20px;
        left:20px;
    }

    .content {
        justify-content: center;
        align-items: center;
    }

    .content  {
        text-align: center;
        padding: 10%;
    }

    
    .side-nav {
        width: 300px;
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 5;
        transform: scale(0.5);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease; 
     
    }

    .side-nav-container {
        box-shadow: 0 0 10px rgba(100, 100, 100, 0.154);

    }

    .history {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .breadcrumbs {
        font-size: 0.8rem;
        margin-bottom: 3rem;
    }
  }

  a {
    text-decoration: none;
  }