.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-info {
    display: flex;

    flex-direction: row;
    width: 100%;
}

.header-info img {
    max-width: 40%;
    border-radius: 30px;
    margin: 0;
    margin-right: 2rem;
}

.playlist-wordtags {
    background: linear-gradient(#0a224000, #8a25bda9);
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.playlist-wordtags .wordcloud {
    width: 100%;
}

.video-stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    background: linear-gradient(rgba(10, 63, 64, 0.064), rgba(37, 189, 151, 0.788));
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.video-stat {
    margin: 2rem;
    width: 20%;
}

.video-stat h3 {
    font-size: 2rem;

}

.overview .playlist-stats-h1 {
    margin-top: 6rem;
}

#views-chart {
    min-width: 50%;
    margin: 0;
    padding: 1rem;
}


.compare-stats {
    width: 18%;
    max-width: 18%;
    min-width: none;
    object-fit: content;
    margin: 1rem;
}

.compare-el .compare-stats p {
    font-size: 2rem;
}

.compare-el .compare-stats p span {
    font-size: 2.5rem;
}

.apexcharts-yaxis {
    margin: 1rem;
}

.video-header {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0;
    padding-right: 3rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    max-width: 80%;
    align-content: center;
    background: linear-gradient(rgba(10, 63, 64, 0.064), rgba(37, 189, 151, 0.788));
border-radius: 30px;

}

.video-header img {
    max-width: 18rem;
    border-radius: 30px;
    margin-right: 2rem;
}

.video-header .video-stats {
    padding: 0 1rem;
    margin: 0;
    height: 100%;
    width:60%;
    justify-content: space-around;
    background: none;

}

.video-header .video-stat {
    padding: 0;
    margin: 1rem;
    font-size: 1.5rem;
    text-wrap: nowrap;
}

.video-header .video-stat p {
    font-size: 1.3rem;
}

.video-header p {
    margin: 0;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.videos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.emotions_radchart { 
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#emotions_radchart,  #emotions_radchart_worst { 
    width: 100%;
}
.emotions-examples {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.examples {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.example {
    width: 20%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(10, 63, 64, 0.064), rgba(37, 189, 151, 0.788));
    border-radius: 30px;
    margin: 1rem;
    text-align: center;
}

.example h3 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.example p {
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
}

.ex .full-comment {
    display: none;
    white-space: pre-wrap; /* Keeps the formatting of the comment */
    transition: 0.2s ease;
}

.ex:hover .full-comment {
    display: block;
    transition: 0.2s ease;

}

.ex:hover .truncated {
    display: none;
    transition: 0.2s ease;

}
